/*blog part one*/
.find-more {
    display: flex;
    justify-content: space-between;
    margin: 0 1px 138px 1px;
}

.blog-more {
    display: flex;
    width: 586px;
    padding-right: 30px;
    background-color: #FBFBFB;
}

.information-search-retreat {
    text-align: right;
    padding-top: 89px;
}

.title-search {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color: #3d3d3d;
}

.information-search {
    margin-top: 9px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
}

.search-link {
    display: inline-block;
    background-color: #46A358;
    padding: 11px 27px 9px 28px;
    border-radius: 6px;
    text-decoration: none;
    border: 0;
    position: relative;
    width: 140px;
    height: 40px;
}

.preloader::after { 
    position: absolute;
    top: 0;
    bottom: 4%;
    right: 0;
    left: 0;
    content: " ";
    display: block;
    margin: auto;
    height: 32px;
    width: 132px;
    box-sizing: border-box;
    border: solid;
    border-width: 4px;
    border-radius: 50%;
    border-top-color: #6becbb;
    border-right-color: #6becbb;
    border-left-color: #6becbb;
    border-bottom-color: #6becbb;
    animation: rotating 2s linear infinite;
}

@keyframes rotating{
    from {
      border-top-color: #e7dc42;
    }
    25%{
      border-right-color: #e7dc42;
    }
    75% {
      border-bottom-color: #e7dc42;
    }
    to {
      border-left-color: #e7dc42;
    }
}

.search-name {
    color: #FBFBFB;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.preloader-text {
    color: #e7dc42;
}

.search-svg {
    display: inline-block;
    vertical-align: middle;
}

/*blog part two*/
.blog-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.blog-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    color: #3D3D3D;
}

.blog-text {
    font-size: 14px;
    line-height: 24px;
    column-rule: #727272;
    margin: 0;
}
/*links to blog topics*/
.blog-info {
    display: flex;
    justify-content: space-between;
}

.blog-bloc {
    width: 268px;
    background-color: #FBFBFB;
}

.blog-content {
    padding: 9px 11px 12px 15px;
}

.blog-time {
    font-size: 14px;
    font-weight: 500;
    color: #46A358;
    margin-top: 0;
    margin-bottom: 4px;
}

.blog-names {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #3D3D3D;
    margin-top: 0;
    margin-bottom: 4px;
}

.blog-description {
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin-top: 0;
    margin-bottom: 9px;
}

.blog-transition {
    display: flex;
    align-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3D3D3D;
}

.blog-svg {
    margin-left: 5px;
}

.blog-transition:hover {
    color: #46A358;
    stroke: #46A358;
}